@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,700&display=swap');
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");


/*GENERAL CSS START*/
*{
  margin: 0;
  padding: 0;
  user-select: none;
}

body{
  font-family: 'Monserrat', sans-serif;
  font-weight: 500;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252A;
  overflow-x: hidden;
}
/*GENERAL CSS END*/

/*NAVBAR FONT & COLOR CSS*/
.nav li, a, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}
/*END OF NAVBAR FONT & COLOR CSS*/

/*NAVBAR LINKS AND BUTTON CSS START*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
}

.container{
  z-index: 9999;
  width: 100%;
  background: #24252A;
  height: 60px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
  position: fixed;
  top: 0;
  left: 0;
}

.nav_links {
  list-style: none;
}

.nav_links li{
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s
}

.nav_links li a:hover {
  color: rgb(2, 103, 255)
}

button{
  padding: 9px 25px;
  background-color: rgb(2, 103, 255);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s
}

button:hover{
  background-color: rgba(2, 103, 255, .8);
}
/*NAVBAR LINKS AND BUTTON CSS END*/

/*MOBILE NAVBAR CSS START*/
nav.mob{
    z-index: 9999;
    width: 100%;
    background: #24252A;
    height: 60px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
    position: fixed;
    top: 0;
    left: 0;
}

nav.desk ul{
    list-style: none;
    width: 75%;
    height: 60px;
    margin: 0 auto;
}

nav.desk ul li{
    font-size: 10px;
    width: 20%;
    float: left;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    transition: all 0.5s ease;
}

nav.mob ul li:hover{
    background: rgb(2, 103, 255)
}

nav.mob ul li a{
    color: white;
    text-decoration: none;
}

nav.mob,
.hamburger-btn{
    display: none;
}
/*MOBILE NAVBAR CSS END*/

/*BG IMAGE CSS START*/
#main{
  vertical-align: middle;
  width: 100%;
  text-align: center;
}

#main section{
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: table; 
}

#main section .overlay{
  display: table-cell;
  vertical-align: middle;
}

#home{
  background: url(images/code.jpg);
}

.overlay{
  background-color: rgba(0, 60, 255, 0.5);
  text-align: center;
}

.overlay h1{
  color: white;
  font-family: Montserrat, sans-serif;
  font-size: 4rem;
}

.overlay p{
  color: white;
  font-family: Montserrat, sans-serif;
}

#about{
  background-color: white;
  height: 50vh;
}

#about img{
  z-index: 9999;
  height: 100vh;
  display: block;
  margin-left: auto;
  object-fit: cover;
  width: 40%;
  overflow: auto;
  float: right;
}

#about p{
  text-align: left;
  margin-left: 1rem;
  margin-bottom: 1rem;
  font-family: Monserrat, sans-serif;
}

.heavy{
  font-weight: 300;
  font-size: 1.1rem;
}

#about h3{
  text-align: left;
  margin-left: 1.1rem;
  margin-top: 13rem;
  font-family: Montserrat, sans-serif;
  font-size: 1.7rem;
  margin-bottom: .5rem;
  color: rgb(0, 60, 255);
  float: left;
}

#about hr{
  width: 50%;
  margin-left: 1.1rem;
  margin-bottom: 1rem;
}

.separator1{
  display: flex;
  width: 100vw;
  background-color: #24252A;
  height: 10px;
  vertical-align: top;
}

.separator2{
  display: flex;
  width: 100vw;
  background-color: rgb(0, 60, 255);
  height: 10px;
  vertical-align: top;
}

.mainButton{
  background-color:  rgb(0, 60, 255);
  border: 1px solid  rgb(0, 60, 255);
  border-radius: 3px;
  color: #fff;
  padding: .6rem;
  transition: background-color .5s, color .5s, border-color .5s;
  width: 20%;
  margin-top: 2rem;
}

.mainButton:hover{
  background-color: white;
  color:  rgb(0, 60, 255);
}

#contactMe{
  background-color: red;
}

/*BG IMAGE CSS END*/

@media screen and (max-width: 1024px){
    
    header{
        display: none;
    }

    nav.mob,
    .hamburger-btn{
        display: block;
    }

    .hamburger-btn{
        position: relative;
    }

    .hamburger-btn .fa-bars,
    .hamburger-btn .fa-times{
        position: relative;
        float: right;
        right: 25px;
        top: 15px;
        font-size: 35px;
        color: white;
        cursor: pointer;
    }

    .mob ul{
        margin-top: 60px;
        background: #24252A;
        display: none;
    }

    .mob li{
        text-align: center;
        padding: 10px;
        cursor: pointer;
    }

    .mob ul.active{
        display: block;
    }

    .footer .footer-content{
      display: block;
    }

    .footer .footer-bottom{
    clear: both;
    position: relative;
    height: 30px;
    margin-top: -200px;
    top: 30px;
    }

}
